{% extends 'planes/planes.html.twig' %}

{# @var airport \App\Entity\Airport #}

{% block planeBody %}
    <style>{{ source('css/planes.css') }}</style>
    <table>
        <tr><td>ID:</td><td>{{ airport.getAirportId() }}</td></tr>
        <tr><td>MODIFIED:</td><td>{{ airport.getAirportModified()|date("Y.m.d. H:i:s") }}</td></tr>
        <tr><td>INSERTED:</td><td>{{ airport.getAirportInserted()|date("Y.m.d. H:i:s") }}</td></tr>
        <tr><td>NAME:</td><td>{{ airport.getAirportName() }}</td></tr>
        <tr><td>LOCATION:</td><td>{{ airport.getAirportLocation() }}</td></tr>
    </table>
    <p><a href="{{ path('airportedit', { 'airportId': airport.getAirportId() }) }}">EDIT AIRPORT</a></p>
    <p><a href="{{ path('airportedit') }}">ADD NEW AIRPORT</a></p>
    <p><a href="{{ path('airportdel', { 'airportId': airport.getAirportId() })  }}">DELETE AIRPORT</a></p

{% endblock %}