{% extends 'planes/planes.html.twig' %}

{% block planeBody %}
    <style>{{ source('css/planes.css') }}</style>
    {% if form is not null and form is not empty %}
        <div style="width: 400px;padding: 20px">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}