{% extends 'planes/planes.html.twig' %}

{# @var crewman \App\Entity\Crewman #}

{% block planeBody %}
    <style>{{ source('css/planes.css') }}</style>
    <table>
        <tr><td>ID:</td><td>{{ crewman.getCrewmanId() }}</td></tr>
        <tr><td>MODIFIED:</td><td>{{ crewman.getCrewmanModified()|date("Y.m.d. H:i:s") }}</td></tr>
        <tr><td>INSERTED:</td><td>{{ crewman.getCrewmanInserted()|date("Y.m.d. H:i:s") }}</td></tr>
        <tr><td>NAME:</td><td>{{ crewman.getCrewmanName() }}</td></tr>
        <tr><td>AGE:</td><td>{{ crewman.getCrewmanAge() }}</td></tr>
        <tr><td>JOB:</td><td>{{ crewman.getJobTitle() }}</td></tr>
        <tr><td>COUNTRY OF ORIGIN:</td><td>{{ crewman.getCountryOfOrigin() }}</td></tr>
    </table>
    <p><a href="{{ path('crewmanedit', { 'crewmanId': crewman.getCrewmanId() }) }}">EDIT CREWMAN</a></p>
    <p><a href="{{ path('crewmanedit') }}">ADD NEW CREWMAN</a></p>
    <p><a href="{{ path('crewmandel', { 'crewmanId': crewman.getCrewmanId() })  }}">DELETE CREWMAN</a></p>


{% endblock %}