{% extends 'planes/planes.html.twig' %}

{# @var planes \App\Entity\Plane[] #}

{% block planeBody %}
    <style>{{ source('css/planes.css') }}</style>
    <h2>LIST OF FLIGHTS</h2>
    <p><a href="{{ path('planeedit') }}">ADD NEW FLIGHT</a></p>
    <table>
        <tr><th>Id</th><th>Plane Model</th><th>Departure</th><th>Destination</th><th>Details</th><th>Edit</th><th>Remove</th></tr>

        {% for plane in planes %}
            {% set planeId = plane.getPlaneId() is null ? "N/A" : plane.getPlaneId() %}
            <tr>
                <td>{{ planeId }}</td>
                <td>{{ plane.getPlaneType() }}</td>
                <td><a href="{{ path('airportshow', { 'airportId': plane.getDepartureLocation().getAirportId() }) }}">{{ plane.getDepartureLocation().getAirportName() }}</a></td>
                <td><a href="{{ path('airportshow', { 'airportId': plane.getDestinationAirport().getAirportId() }) }}">{{ plane.getDestinationAirport().getAirportName() }}</a></td>
                <td><a href="{{ path('planeshow', { 'planeId': plane.getPlaneId() }) }}">SHOW</a></td>
                <td><a href="{{ path('planeedit', { 'planeId': plane.getPlaneId() }) }}">EDIT</a></td>
                <td><a href="{{ path('planedel', { 'planeId': plane.getPlaneId() }) }}">DEL</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}