{% extends 'base.html.twig' %}

{% block title %}Flight Manager Page{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <p><a href="{{ path('planelist') }}">BACK TO THE LIST PAGE</a></p>
    {% block planeBody %}

    {% endblock %}
    {% else %}
    <p>SORRY ONLY ADMINISTRATORS CAN VIEW THIS PAGE</p>
    {% endif %}

{% endblock %}
