{% extends 'planes/planes.html.twig' %}

{# @var plane \App\Entity\Plane #}

{% block planeBody %}
    <style>{{ source('css/planes.css') }}</style>
    <table>
        <tr><td>ID:</td><td>{{ plane.getPlaneId() }}</td></tr>
        <tr><td>MODIFIED:</td><td>{{ plane.getPlaneModified()|date("Y.m.d. H:i:s") }}</td></tr>
        <tr><td>INSERTED:</td><td>{{ plane.getPlaneInserted()|date("Y.m.d. H:i:s") }}</td></tr>
        <tr><td>MODEL:</td><td>{{ plane.getPlaneType() }}</td></tr>
        <tr><td>CAPACITY:</td><td>{{ plane.getPassengerCapacity() }}</td></tr>
        <tr><td>CREW:</td><td>
        </tr>
        {% for crewman in plane.getPlaneCrew() %}
            <tr><td><a href="{{ path('crewmanshow', { 'crewmanId': crewman.getCrewmanId() }) }}">{{ crewman.getCrewmanName() }}</a></td>
                <td>{{ crewman.getJobTitle() }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}