{% extends 'planes/userbase.html.twig' %}

{# @var planes \App\Entity\Plane[] #}

{% block planeBody %}
    <style>{{ source('css/planes.css') }}</style>
    <h2>LIST OF FLIGHTS:</h2>
    <table>
        <tr><th>Id</th><th>Plane Model</th><th>Departure</th><th>Destination</th><th>Capacity</th></tr>

        {% for plane in planes %}
            {% set planeId = plane.getPlaneId() is null ? "N/A" : plane.getPlaneId() %}
            <tr>
                <td>{{ planeId }}</td>
                <td>{{ plane.getPlaneType() }}</td>
                <td>{{ plane.getDepartureLocation().getAirportName() }}</td>
                <td>{{ plane.getDestinationAirport().getAirportName() }}</td>
                <td>{{ plane.getPassengerCapacity() }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}