{% extends 'base.html.twig' %}

{% block title %}Flight Page{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% block planeBody %}

        {% endblock %}
    {% else %}
        <p>LOGIN TO VIEW THIS PAGE</p>
    {% endif %}

{% endblock %}