body {
    background-color: lightblue;
    margin-left: 15px;
}


table{
    margin-left: 5px;
    margin-bottom: 20px;
}

th, td {
    text-align: left;padding: 15px;
    border-bottom: 3px solid #222222;
}

tr:hover {background-color: #f5f5f5;}

